<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inspien.fb.mapper.CustMstMapper">
    <select id="initData" resultType="String">
        SELECT OrgCd FROM CustMst WHERE InUse = "Y"
    </select>

    <select id="selectOne" parameterType="String" resultType="CustMst">
        SELECT  * FROM CustMst WHERE OrgCd = #{OrgCd}
    </select>

    <update id="update" parameterType="CustMst">
        UPDATE
            CustMst
        SET
            CustNm = CASE WHEN #{CustNm} IS NULL THEN CustNm ELSE #{CustNm} END,
            CallbackURL = CASE WHEN #{CallbackURL} IS NULL THEN CallbackURL ELSE #{CallbackURL} END,
            InUse = CASE WHEN #{InUse} IS NULL THEN InUse ELSE #{InUse} END,
            UpdatedAt = NOW()
        WHERE
            OrgCd = #{OrgCd}
    </update>
</mapper>

