<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inspien.fb.mapper.TxTraceMapper">
    <sql id="TxTraceColumns">
        CustId,
        TxDate,
        TxSequence,
        TxStarted
    </sql>
    <insert id="upsertTxTrace" parameterType="TxTrace">
        INSERT INTO TxTrace(<include refid="TxTraceColumns"/>) VALUES (
            #{CustId},#{TxDate},#{TxSequence},#{TxStarted}) ON DUPLICATE KEY UPDATE
            TxSequence = TxSequence+1
    </insert>

    <select id="selectTxTrace" parameterType="MAP" resultType="String">
        SELECT IFNULL(TxTrace.TxSequence,'0') FROM TxTrace
            WHERE CustId = #{custId} AND TxDate = #{today}
    </select>

    <select id="isExistTxTrace" parameterType="MAP" resultType="boolean">
        SELECT EXISTS(
            SELECT * FROM TxTrace
            WHERE CustId = #{custId} AND TxDate = #{today})
    </select>

</mapper>