<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inspien.fb.mapper.TxStatMapper">
    <sql id="TxStatColumns">
        CustId,
        OrgCd,
        TxDate,
        BankCd,
        TxType,
        TxCnt,
        TxSize
    </sql>

<insert id="insertTxStat" parameterType="TxStat">
    INSERT INTO TxStat(<include refid="TxStatColumns"/>) VALUES(
        #{CustId},#{OrgCd},#{TxDate},#{BankCd},#{TxType},#{TxCnt},#{TxSize}) ON DUPLICATE KEY UPDATE
        TxCnt =TxCnt+ #{TxCnt},TxSize = TxSize+ #{TxSize}
</insert>
</mapper>