<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inspien.fb.mapper.BankMstMapper">

    <select id="count" resultType="int">
        select count(*) from BankMst
    </select>

    <insert id="insert" parameterType="BankMst">
        INSERT INTO BankMst VALUES(#{BankId}, #{BankCd}, #{BankNm}, #{SwiftCd}, NOW(), NULL)
    </insert>

    <select id="selectOne" parameterType="String" resultType="BankMst">
        SELECT * FROM BankMst WHERE BankId = #{BankId}
    </select>

    <select id="selectMany" parameterType="int" resultType="BankMst">
        SELECT * FROM BankMst ORDER BY BankId LIMIT #{Start}, #{Limit}
    </select>

    <update id="update" parameterType="BankMst">
        UPDATE
            BankMst
        SET
            BankCd = CASE WHEN #{BankCd} IS NULL THEN BankCd ELSE #{BankCd} END,
            BankNm = CASE WHEN #{BankNm} IS NULL THEN BankNm ELSE #{BankNm} END,
            SwiftCd = CASE WHEN #{SwiftCd} IS NULL THEN SwiftCd ELSE #{SwiftCd} END,
            UpdatedAt = NOW()
        WHERE
            BankId = #{Id}
    </update>

    <delete id="delete" parameterType="String">
        DELETE FROM BankMst WHERE BankId = #{BankId}
    </delete>

</mapper>


