<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inspien.fb.mapper.CustMstMapper">

    <select id="count" resultType="int">
        select count(*) from CustMst
    </select>

    <insert id="insert" parameterType="CustMst">
        INSERT INTO CustMst VALUES(#{CustId}, #{CustNm}, #{OrgCd}, #{CallbackURL}, #{ApiKey}, #{PriContactNm}, #{PriContactTel}, #{PriContactEmail}, #{SecContactNm}, #{SecContactTel}, #{SecContactEmail}, #{TxSequence}, #{InUse}, NOW(), NULL)
    </insert>

    <select id="selectOne" parameterType="String" resultType="CustMst">
        SELECT * FROM CustMst WHERE CustId = #{CustId}
    </select>

    <select id="selectMany" parameterType="int" resultType="CustMst">
        SELECT * FROM CustMst ORDER BY CustId ASC LIMIT #{Start}, #{Limit}
    </select>

    <update id="update" parameterType="CustMst">
        UPDATE
            CustMst
        SET
            CustId = CASE WHEN #{CustId} IS NULL THEN CustId ELSE #{CustId} END,
            CustNm = CASE WHEN #{CustNm} IS NULL THEN CustNm ELSE #{CustNm} END,
            OrgCd = CASE WHEN #{OrgCd} IS NULL THEN OrgCd ELSE #{OrgCd} END,
            CallbackURL = CASE WHEN #{CallbackURL} IS NULL THEN CallbackURL ELSE #{CallbackURL} END,
            ApiKey = CASE WHEN #{ApiKey} IS NULL THEN ApiKey ELSE #{ApiKey} END,
            PriContactNm = CASE WHEN #{PriContactNm} IS NULL THEN PriContactNm ELSE #{PriContactNm} END,
            PriContactTel = CASE WHEN #{PriContactTel} IS NULL THEN PriContactTel ELSE #{PriContactTel} END,
            PriContactEmail = CASE WHEN #{PriContactEmail} IS NULL THEN PriContactEmail ELSE #{PriContactEmail} END,
            SecContactNm = CASE WHEN #{SecContactNm} IS NULL THEN SecContactNm ELSE #{SecContactNm} END,
            SecContactTel = CASE WHEN #{SecContactTel} IS NULL THEN SecContactTel ELSE #{SecContactTel} END,
            SecContactEmail = CASE WHEN #{SecContactEmail} IS NULL THEN SecContactEmail ELSE #{SecContactEmail} END,
            TxSequence = CASE WHEN #{TxSequence} IS NULL THEN TxSequence ELSE #{TxSequence} END,
            InUse = CASE WHEN #{InUse} IS NULL THEN InUse ELSE #{InUse} END,
            UpdatedAt = NOW()
        WHERE
            CustId = #{CustId}
    </update>

    <delete id="delete" parameterType="String">
        DELETE FROM CustMst WHERE  CustId = #{CustId}
    </delete>
</mapper>

