<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspien.fb.mapper.TxLogMapper">

    <select id="count" resultType="int">
        select count(*) from TxLog
    </select>

    <select id="selectMany" parameterType="int" resultType="TxLog">
        select TxLog.*,CustMst.CustNm, BankMst.`BankNm` from TxLog
            JOIN CustMst ON TxLog.CustId = CustMst.CustId
            JOIN BankMst ON TxLog.BankCd = BankMst.BankCd order by TxIdx DESC LIMIT #{Start}, #{Limit}
    </select>

    <select id="selectOne" parameterType="String" resultType="TxLog">
        select TxLog.*,CustMst.CustNm, BankMst.`BankNm` from TxLog
            JOIN CustMst ON TxLog.CustId = CustMst.CustId
            JOIN BankMst ON TxLog.BankCd = BankMst.BankCd WHERE TxIdx = #{TxIdx}
    </select>

</mapper>