<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspien.fb.mapper.TxStatMapper">

    <select id="count" resultType="int">
        select count(*) from TxStat
    </select>

    <select id="selectMany" parameterType="int" resultType="TxStat">
        select TxStat.*,CustMst.CustNm, BankMst.`BankNm` from TxStat
            JOIN CustMst ON TxStat.CustId = CustMst.CustId
            JOIN BankMst ON TxStat.BankCd = BankMst.BankCd order by TxDate
            DESC LIMIT  #{Start}, #{Limit}
    </select>
</mapper>