<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspien.fb.mapper.TxTraceMapper">

    <select id="count" resultType="int">
        select count(*) from TxTrace
    </select>

    <select id="selectMany" parameterType="int" resultType="TxTrace">
        select TxTrace.*,CustMst.CustNm from TxTrace
            JOIN CustMst ON TxTrace.CustId = CustMst.CustId order by TxDate DESC LIMIT #{Start}, #{Limit}
    </select>
</mapper>