<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inspien.fb.mapper.TxStatMapper">
    <sql id="TxStatColumns">
        CustId,
        TxDate,
        BankCd,
        TxType,
        TxCnt,
        TxSize
    </sql>

<insert id="insetTxStat" parameterType="TxStat">
<!--    INSERT INTO TxStat(<include refid="TxStatColumns"/>) VALUES(-->
<!--        #{TxStat}-->
<!--    )-->
</insert>
</mapper>